html
    head
        meta(charset='utf-8')
        title
            | Lô Tô
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel='stylesheet' href='styles/main.css')
        style.
            .table {
                border-collapse: separate;
                border-spacing: 5px 5px;
            }
    header
        img.new-year-img(src='/images/newyear.jpg')
    body
        .container-fluid.back-round-color
            .row
                .col-md-3
                    img.quote-img(src='/images/leftQuote.png')
                .col-md-6.mt-5.p-5
                    center
                        button.btn.btn-danger.mb-5 ??
                    center
                        table.table
                            tr
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                            tr
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                            tr
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                            tr
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                                td
                                    button.btn.btn-primary.btn-lg hihi
                    center
                        button#btnToggle.btn.btn-success.btn-bingo.mr-2(name='start') BẮT ĐẦU
                        button.btn.btn-success.btn-bingo KINH
                .col-md-3
                    img.quote-img(src='/images/rightQuote.png')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js',crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='scripts/main.js')

